RewriteEngine On
RewriteRule ^isoscope-two(.*) http://localhost:61724/$1 [P]

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/csv application/javascript text/javascript application/json