.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
/* 
  &.is-in-selection-mode {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      border: 5px solid $c-accent-1;
    }
  } */
}

.selection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.selection-overlay__frame {
  fill: none;
  stroke: #d8d8d8;
  stroke-width: 3px;
  stroke-dasharray: 5 6;
}

.label {
  pointer-events: all;
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: rgba($c-dark-1, .7);
  padding: 4px 10px;
  text-align: center;
  background: rgba(#fff, .4);
  border-radius: 20px;
  transition: opacity .2s;

  &--selectable {
    background: $c-accent-1;
    cursor: pointer;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}