.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  cursor: move;

  &.is-coin-hovered {
    cursor: pointer;
  }

  &.is-coin-dragged {
    cursor: pointer;
    cursor: -ms-grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}

.selection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.selection-overlay__frame {
  fill: none;
  stroke: #d8d8d8;
  stroke-width: 3px;
  stroke-dasharray: 5 6;
}