.coin-info {
  position: fixed;
  transform: translateX(-50%);
  color: $c-accent-1;
  width: 420px;
  padding: 20px 25px;
  background-color: rgba($c-dark-1, .93);
  box-shadow: 0 0 12px rgba(#000, .2);
  border-radius: 2px;
  pointer-events: all;
  cursor: auto;

  &--compact {
    width: fit-content;
    padding: 15px 20px 10px 20px;

    .coin-info__header {
      border: none;
      padding: 0;
      text-align: left;
      padding-right: 50px;
      position: relative;
    }

    .coin-info__title {
      border-bottom: none;
      padding: 0;
    }

    .coin-info__link {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $c-accent-1;
      color: $c-dark-1;
      width: 24px;
      font-size: 18px;
      height: 24px;
      border-radius: 100px;
      text-align: center;

      .coin-info__link-icon {
        margin: 0;
      }
    }
  }
}

.coin-info__header {
  text-align: center;
  border-bottom: 1px solid rgba(#fff, .15);
  padding-bottom: 20px;
  padding-top: 10px;
}

.coin-info__title {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.coin-info__link {
  pointer-events: all;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-family: serif;
  font-style: italic;
}

.coin-info__link-icon {
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}

.coin-info__props {
  display: flex;
  flex-wrap: wrap;
}

.coin-info__prop {
  width: 175px;
  position: relative;
  padding: 14px 0;
  padding-left: 45px;
  border-top: 1px solid rgba(#fff, .15);
  margin-right: 20px;

  &:nth-child(1),
  &:nth-child(2) {
    border-top: none;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.coin-info__prop-icon {
  position: absolute;
  left: 0;
  font-size: 26px;
  border-radius: 100px;
  margin-top: 10px;
  text-align: center;
}

.coin-info__prop-label {
  font-size: 13px;
  margin-bottom: 9px;
  opacity: .7;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.coin-info__prop-value {
  font-size: 13px;
  padding: 5px 13px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  color: rgba($c-accent-1, .8);
  border: 1px solid rgba($c-accent-1, .2);
  text-transform: capitalize;

  &--filterable {
    color: $c-accent-1;
    border: 1px solid $c-accent-1;
    cursor: pointer;
  }

  &.is-selected {
    background-color: $c-accent-1;
    color: $c-dark-1;
  }
}