.coin-info {
  position: absolute;
  transform: translateX(-50%);
  color: $c-accent-2;
  width: 410px;
  padding: 20px;
  background-color: rgba(#fff, .6);
  border-radius: 6px;

  &--compact {
    width: auto;
    border-radius: 50px;

    .coin-info__title {
      border-bottom: none;
      padding: 0;
    }
  }
}

.coin-info__title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $c-accent-2;
}

.coin-info__link {
  pointer-events: all;
  text-decoration: none;
  color: inherit;
}

.coin-info__props {
  display: flex;
  flex-wrap: wrap;
}

.coin-info__prop {
  width: 175px;
  position: relative;
  padding: 12px 0;
  padding-left: 40px;
  border-top: 1px solid $c-accent-2;
  margin-right: 20px;

  &:nth-child(1),
  &:nth-child(2) {
    border-top: none;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.coin-info__prop-icon {
  position: absolute;
  left: 0;
  font-size: 30px;
}

.coin-info__prop-label {
  font-size: 14px;
  margin-bottom: 7px;
}

.coin-info__prop-value {
  font-size: 14px;
  font-weight: bold;
  background-color: $c-accent-2;
  color: #fff;
  padding: 3px 11px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}