.filter-ui {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.filter-ui__filter {
  position: absolute;
  right: 0;
  transition: all .3s;
  border-radius: 50px;
  padding: 6px 15px;
  font-size: 14px;
  background-color: $c-accent-1;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  color: $c-dark-1;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &--utility {
    background-color: $c-background; 
    color: #fff;
    cursor: pointer;
  }

  &--alert {
    background-color: $c-alert; 
    color: #fff;
    cursor: pointer;
  }
}

.filter-ui__icon {
  font-size: 1.5em;
  display: inline-block;
  margin: -3px 5px -3px -2px;
}

.filter-ui__clear {
  font-size: 1.3em;
  cursor: pointer;
  margin: -3px -5px -3px 7px;
}