.hint {
  position: fixed;
  @include hovering-panel;
  padding: 20px;
  color: $c-dark-1;
  padding: 20px;
  max-width: 260px;
  text-align: center;
  background-color: $c-accent-1;
  opacity: 1;
  transition: opacity .3s 1.5s, transform .1s;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: inherit;
    left: 50%;
    bottom: -10px;
    transform: rotate(45deg) translateX(-50%);
  }

  &--survey {
    width: 270px;
    right: 15px;
    top: 55px;
    padding-bottom: 10px;

    &:after {
      right: 23px;
      top: -2px;
      left: auto;
    }
  }
}

.hint__title {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 18px;
  margin-bottom: 14px;
  padding-bottom: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgba($c-dark-1, .1);
}

.hint__copy {
  font-size: 14px;
  line-height: 1.4em;
}

.hint__footer {
  margin-top: 15px;
  padding: 0 30px;
}