.label {
  pointer-events: all;
  display: inline-block;
  position: absolute;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: rgba($c-dark-1, .8);
  padding: 4px 10px;
  text-align: center;
  background: rgba(#fff, .7);
  border-radius: 20px;
  transition: opacity .2s;
  user-select: none; 

  &--highlight {
    font-weight: bold;
  }

  &--selectable {
    background: $c-accent-1;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }

  &--center-x {
    transform: translateX(-50%);
  }

  &--center-y {
    transform: translateY(-50%);
  }

  &--right {
    transform: translateX(-100%);
  }

  &--center-x.label--center-y {
    transform: translate(-50%, -50%);
  }

  &--right.label--center-y {
    transform: translate(-100%, -50%);
  }

  &--top.label--center-x {
    transform: translate(-50%, -100%);
  }  

  &.is-preselected,
  &.is-selected {
    background-color: $c-accent-3;
  }
}

.label__icon {
  font-size: 1.3em;
  display: inline-block;
  margin: -2px -3px -2px 5px;
}