.layout-list {
  text-align: center;
}

.layout-list__layout {
  display: inline-block;
  color: $c-accent-1;
  border: 1px solid $c-accent-1;
  border-radius: 100%;
  font-size: 32px;
  cursor: pointer;
  margin-right: 8px;
  padding: 5px;

  &.is-selected {
    color: $c-dark-1;
    background-color: $c-accent-1;
  }

  &:last-child {
    margin-right: 0;
  }
}