.layout-list {
  text-align: center;
}

.layout-list__layout {
  display: inline-block;
  color: $c-accent-1;
  border: 1px solid $c-accent-1;
  border-radius: 100%;
  font-size: 42px;
  cursor: pointer;
  margin-right: 5px;

  &.is-selected {
    color: $c-background;
    background-color: $c-accent-1;
  }
}