.layout-list {
  text-align: center;
}

.layout-list__layout {
  display: inline-block;
  color: $c-accent-1;
  border: 1px solid $c-accent-1;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 8px;
  padding: 5px;
  position: relative;
  width: 44px;
  height: 44px;

  &.is-selected {
    color: $c-dark-1;
    background-color: $c-accent-1;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .layout-list__tooltip {
      transition-delay: 1s;
      visibility: visible;
      opacity: 1;
    }
  }
}

.layout-list__layout-icon {
  font-size: 32px;
}

.layout-list__tooltip {
  transition: visibility 0s, opacity .2s;
  transition-delay: 0s;
  min-width: 220px;
  visibility: hidden;
  position: absolute;
  bottom: 65px;
  left: 50%;
  padding: 15px 15px;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 14px;
  text-align: center;
  @include hovering-panel;
}

.layout-list__tooltip-title {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: $c-accent-1;
  margin-bottom: 5px;

}