.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.loader-spinner {
  display: inline-block;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 50%;
  margin-top: -80px;
  background-image: url("../data/images/sprites/loading_sprite.png");
}