.menu {
  position: fixed;
  top: 15px;
  left: 13px;
}

.menu__button {
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 50px;
  padding: 4px 11px;
  font-size: 14px;
  background-color: rgba($c-dark-1, .93);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
}