.ordering-ui {
  display: flex;
  align-items: center;
}

.ordering-ui__meta {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $c-accent-1;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin: 0 10px;
  font-weight: 600;
}

.ordering-ui__ui {
  &.is-empty {
    .ordering-ui__selection {
      color: $c-accent-1;
      background-color: transparent;
      justify-content: center;
    }
  }

  &.is-selected {
    .ordering-ui__property-list {
      visibility: visible;
      opacity: 1;
    }

    .ordering-ui__selection {
      background-color: $c-accent-1;
      color: $c-dark-1;
    }
  }

}

.ordering-ui__property-list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 80px;
  border-radius: 3px;
  width: 250px;
  background-color: rgba($c-dark-1, .93);
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.ordering-ui__property {
  color: $c-accent-1;
  padding: 13px 10px;
  border-bottom: 1px solid rgba($c-dark-1, .5);
  cursor: pointer;
  display: flex;

  &.is-selected {
    background-color: $c-accent-1;
    color: $c-dark-1;

    &:hover {
      background-color: $c-accent-1;
    }
  }

  &.is-disabled {
    opacity: .5;
    background-color: $c-dark-1;
    color: #fff;
    pointer-events: none;
    cursor: auto;
  }

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: $c-dark-1;
  }

  [class^="icon-"] {
    font-size: 1.4em;
    display: inline-block;
    margin: -2px 8px -2px 0
  }
}

.ordering-ui__clear-icon {
  position: absolute;
  right: 10px;
}

.ordering-ui__selection {
  @extend %btn;
  min-width: 150px;
  background-color: $c-accent-1;
  color: $c-dark-1;
  justify-content: space-between;
}

.ordering-ui__clear-selection {
  font-size: 1.4em;
  position: relative;
  left: 10px;
  
}