.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
  background-color: rgba(#17181E, .94);
  padding: 20px 40px;
  color: #fff;
  width: 580px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 15px rgba(#000, .3);
  border-radius: 2px;
  overflow: scroll;

  * {
    pointer-events: all;
  }

  &--info {
    width: 640px;
    padding-top: 0;

    .popup__main {
      padding-top: 10px;
    }
  }

  a {
    color: $c-accent-1;
  }

  h3 {
    font-size: 24px;
    font-family: serif;
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 13px;
    color: $c-accent-1;

    a {
      display: inline-block;
      margin-left: 15px;
      vertical-align: middle;
    }
  }
}

.popup__inner {

}

.popup__header {
  border-bottom: 1px solid rgba(#fff, 0.1);
  color: $c-accent-1;
  text-align: center;
}

.popup__title {
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0;
  margin-bottom: 5px;
}

.popup__subtitle {
  font-size: 20px;
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  margin-top: 0;
  color: $c-accent-1;
}

.popup__main {
  padding: 20px 0;
}

.popup__section {
  margin-bottom: 20px;
}

.popup__copy {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 5px;
  opacity: .9;
}

.popup__small {
  font-size: 13px;
  line-height: 1.4em;
  opacity: .8;
}

.popup__category {
  margin-bottom: 6px;
}

.popup__label {
  font-weight: 700;
}

.popup__value {

}

.popup__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__btn {
  margin-bottom: 8px;
}