.ui {
  position: fixed;
  z-index: 1;
}

.ui__left,
.ui__right {
  position: fixed;
  bottom: 10px;
  background-color: rgba($c-background, .93);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 10px 20px;
}

.ui__left {
  left: 10px;
  display: flex;
}

.ui__right {
  right: 10px;
}

.ui__section {
  display: flex;
  align-items: center;
  padding: 2px 0;
  padding-right: 20px;
  border-right: 1px solid rgba(#fff, .3);

  &:last-child {
    border-right: none;
    padding-right: 0;
    padding-left: 20px;
  }
}

.ui__section-title,
.ui__arrow {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $c-accent-1;
  font-size: 14px;
  margin: 0;
  text-align: center;
  margin-right: 15px;
}

.ui__arrow {
  font-size: 20px;
  margin-left: -12px;
  margin-right: -5px;
}

.ui__section-number {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  background: black;
  text-align: center;
  line-height: 20px;
  margin-right: 7px;
  font-size: 14px;
  color: $c-background;
  background-color: rgba(#fff, .6);
  padding-left: 1px;
}


.ui__toggle {
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  top: 15px;
  right: -50px;
  width: 50px;
  background-color: $c-dark-1;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  line-height: 50px;
}