.ui {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: $c-background;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  display: flex;
}

.ui__section {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.ui__section-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $c-accent-1;
  font-size: 16px;
  margin: 0;
  text-align: center;
  margin-right: 10px;
}

.ui__section-number {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  display: inline-block;
  background: black;
  text-align: center;
  line-height: 22px;
  margin-right: 5px;
  color: $c-background;
  background: $c-accent-1;
}

.ui__toggle {
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  top: 15px;
  right: -50px;
  width: 50px;
  background-color: $c-dark-1;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  line-height: 50px;
}